*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
}

/* Main */

body{
  color: #B1B9C1;
  font-size: 1em;
  font-weight: 200;
  font-family: 'Roboto', Helvetica, Arial, serif;
  width: 100%;
  text-align: center;
  padding-top: 50px;
}

a {
  color: #5FB6E1;
  text-decoration: none;
}

a:hover {
  color: #53A4C4;
}

img {
  width: 100%;
}

input {
  width: 460px;
  height: 40px;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 15px;
  border-radius:5px;
  box-shadow: none;
}

.is-sticky .sticker {
background-color: white;

}

#imageGallery {
  max-width: 1050px;
  margin: 30px auto 0;
}

.gallery-item {
  display: inline-block;
  max-width: 190px;
  margin: 30px 30px;
}

/* lightbox code */
#overlay {
  background: rgba(0,0,0,0.8);
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;
}

#overlay img {
    display: inline;
    max-width: 60%;
    margin-top: 10%;
    margin-left:30px;
    margin-right: 30px;
}

#overlay p {
  color:white;
  max-width: 600px;
  margin: 10px auto 0;
}

div #leftArrow, div #rightArrow  {
  color: white;
  display: inline;
  font-size: 4em;
  margin-top: 20%;
}
div #leftArrow{
  position:fixed;
  top:15%;
  left:10%;
  float:left;
} 
div #rightArrow  {
  position:fixed;
  top:15%;
  right:10%;
  float:right;
}


/*Media Queries*/
@media (max-width: 1000px) {

}
@media (max-width: 700px) {
  #search { 
    max-width: 70%;
  }
  img {
    max-width: 120px;
  }
  div #leftArrow{
  position:fixed;
  top:2%;
  left:5%;
  float:left;
  } 
  div #rightArrow  {
  position:fixed;
  top:2%;
  right:5%;
  float:right;
  }
  #overlay p {
  
  max-width: 70%;
  
}
}




















